
            .caixa {
                width: 600px;
                height: 250px;

                padding: 1px;
                border: solid 2px white;
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -300px;
                margin-top: -200px;
                text-align: center;
                color: black;
            }


            #linha{
                padding: 15px;
                width: 600px;
                height: 20px;


            }

            body{
                background-image: url("imagens/fundo.jpg");
                background-repeat: no-repeat;
                background-size:100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;

            }
            h1{
                font-size: 220%;
                color: white ;
                font-family: 'Open Sans', sans-serif;
            }
            label{
                font-size: 170%;

            }

            .button{

                padding: 10px;
                width: 100px;
                font-size: 150%;
                margin-top: 40px;
                color:white;
                background-color: #db5e3e;
                font-family: 'Open Sans', sans-serif;
                border: 2px solid #db5e3e;
                border-radius: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .caixa1{

                
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -430px;
                margin-top: 90px;
            }
            .caixa2{
                
                position: absolute;
                top:50%;
                left:50%;
                margin-left: 40px;
                margin-top: 70px;
            }
            .icone1{
                width: 50px;
                height: 50px;
                
            }
            .icone2{
                width: 70px;
                height: 70px;
                
            }
            .txtinfo{
                font-size: 15px;
                color:white;
                font-family: 'Open Sans', sans-serif;
                margin-left: auto;
                margin-right: auto;
                width: 6em
            }
            .txtregras{
                font-size: 15px;
                color:white;
                font-family: 'Open Sans', sans-serif;
                margin-left: auto;
                margin-right: auto;
                width: 6em
            }
            .img-with-text {
                text-align: justify;
                width: 400px;
            }

            .img-with-text img {
                display: block;
                margin: 0 auto;
            }
